#guestbook {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  #guestbookForm {
    margin-bottom: 15px;
    background-color: #fed3d3;
  }
  
  #messages {
    margin-top: 10px;
    
  }
  #name {
    padding : 20px;
    margin :15px;
    background-color: #fec3d3;
    border-radius: 7px;
  }

  #message {
    color: black;
    padding : 20px;
    margin :15px;
    background-color: #eeeee4;
    border-radius: 10px;
    cursor: pointer;
    
  }
  